:root {
  /* Scalars */
  --logo-wrap: clamp(350px, 80vw, 1000px);
  --font-base: calc(var(--logo-wrap) * 0.018);
  --tri-bottom: calc(var(--logo-wrap) * 0.1433);
  --tri-side: calc(var(--logo-wrap) * 0.084);
  --hero-size: calc(var(--font-base) * 4.5);
  --web-d-size: calc(var(--font-base) * 1.5);
}

/* Scaling Hero Logo */
.logo-wrapper {
  position: relative;
  width: var(--logo-wrap);
  aspect-ratio: 10 / 4;
}

.logo-text {
  position: absolute;
  top: 30%;
  left: 42.5%;
}

.logo-square {
  position: absolute;
  background-color: var(--logo-base);
  width: 20%;
  height: 50%;
  top: 25%;
  left: 15%;
  animation: square-transform 4s 1 forwards;
}

.logo-circle {
  position: absolute;
  background-color: var(--logo-highlight);
  width: 20%;
  height: 50%;
  top: 25%;
  left: 15%;
  border-radius: 50%;
  animation: circle-transform 4s 1 forwards;
}

.logo-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: var(--tri-side) solid transparent;
  border-right: var(--tri-side) solid transparent;
  border-bottom: var(--tri-bottom) solid var(--logo-base);
  animation: triangle-transform 4s 1 forwards;
}

.logo-company-name {
  position: relative;
  font-family: "Russo One", sans-serif;
  font-size: var(--hero-size);
  color: var(--logo-text);
  animation: headline-reveal 5s 1 forwards;
}

.logo-we-are {
  position: relative;
  font-size: var(--font-base);
  animation: weare-reveal 8s 1 forwards;
}

.logo-tagline {
  position: relative;
  font-size: var(--web-d-size);
  animation: tagline-reveal 6s 1 forwards;
}
/* Animation Keyframes */
@keyframes square-transform {
  0% {
    background-color: transparent;
    top: 0px;
    left: 0px;
  }
  30% {
    background-color: var(--logo-base);
    top: 25%;
    left: 15%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    top: 25%;
    left: 15%;
  }
  80% {
    top: 25%;
    left: 40%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    top: 25%;
    left: 15%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes circle-transform {
  0% {
    background-color: transparent;
    top: 0px;
    left: 0px;
  }
  19% {
    background-color: transparent;
  }
  20% {
    background-color: #7140bf;
    top: 0px;
    left: 0px;
  }
  40% {
    background-color: #eee83c;
    top: 100px;
    left: 400px;
  }
  80% {
    top: 100px;
    left: 400px;
  }
  100% {
    top: 100px;
    left: 150px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes circle-transform {
  0% {
    background-color: transparent;
    top: 0px;
    left: 0px;
  }
  19% {
    background-color: transparent;
  }
  20% {
    background-color: var(--lm-logo-base);
    top: 0px;
    left: 0px;
  }
  40% {
    background-color: var(--lm-logo-highlight);
    top: 25%;
    left: 40%;
  }
  80% {
    top: 25%;
    left: 40%;
  }
  100% {
    top: 25%;
    left: 15%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes triangle-transform {
  0% {
    border-bottom: transparent;
    top: 26%;
    right: 0px;
  }
  40% {
    border-bottom: var(--logo-base);
    top: 26%;
    right: 0;
  }
  80% {
    top: 26%;
    right: 41.6%;
  }
  100% {
    top: 26%;
    right: 66.6%;
  }
}

@keyframes headline-reveal {
  0% {
    color: transparent;
  }
  80% {
    color: transparent;
  }
  100% {
    color: var(--logo-text);
  }
}

@keyframes tagline-reveal {
  0% {
    color: transparent;
  }
  80% {
    color: transparent;
  }
  100% {
    color: var(--text);
  }
}

@keyframes weare-reveal {
  0% {
    color: transparent;
  }
  48.75% {
    color: transparent;
  }
  56.25% {
    color: var(--text);
  }
  63.75% {
    color: var(--text);
  }
  100% {
    color: transparent;
  }
}
