/* Feature animation */
.animation-wrapper {
  position: relative;
  height: 400px;
  width: 1000px;
}

.animated-text {
  position: absolute;
  top: 120px;
  left: 425px;
}

.square {
  position: absolute;
  background-color: #7140bf;
  width: 200px;
  height: 200px;
  -webkit-animation: square-transform 4s 1 forwards;
  animation: square-transform 4s 1 forwards;
}

.circle {
  position: absolute;
  background-color: #eee83c;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-animation: circle-transform 4s 1 forwards;
  animation: circle-transform 4s 1 forwards;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 84px solid transparent;
  border-right: 84px solid transparent;
  border-bottom: 143.3px solid #7140bf;
  -webkit-animation: triangle-transform 4s 1 forwards;
  animation: triangle-transform 4s 1 forwards;
}

.company-name {
  position: relative;
  font-family: "Russo One", sans-serif;
  font-size: 4.5rem;
  color: var(--hero-text);
  -webkit-animation: headline-reveal 5s 1 forwards;
  animation: headline-reveal 5s 1 forwards;
}

.we-are {
  position: relative;
  color: transparent;
  -webkit-animation: weare-reveal 6s 1 forwards;
  animation: weare-reveal 6s 1 forwards;
}

.tagline {
  position: relative;
  font-size: 1.5rem;
  -webkit-animation: tagline-reveal 6s 1 forwards;
  animation: tagline-reveal 6s 1 forwards;
}

/* Keyframes */
@-webkit-keyframes square-transform {
  0% {
    background-color: transparent;
    top: 0px;
    left: 0px;
  }
  30% {
    background-color: #7140bf;
    top: 100px;
    left: 150px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    top: 100px;
    left: 150px;
  }
  80% {
    top: 100px;
    left: 400px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    top: 100px;
    left: 150px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes square-transform {
  0% {
    background-color: transparent;
    top: 0px;
    left: 0px;
  }
  30% {
    background-color: #7140bf;
    top: 100px;
    left: 150px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    top: 100px;
    left: 150px;
  }
  80% {
    top: 100px;
    left: 400px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    top: 100px;
    left: 150px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes circle-transform {
  0% {
    background-color: transparent;
    top: 0px;
    left: 0px;
  }
  19% {
    background-color: transparent;
  }
  20% {
    background-color: #7140bf;
    top: 0px;
    left: 0px;
  }
  40% {
    background-color: #eee83c;
    top: 100px;
    left: 400px;
  }
  80% {
    top: 100px;
    left: 400px;
  }
  100% {
    top: 100px;
    left: 150px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes circle-transform {
  0% {
    background-color: transparent;
    top: 0px;
    left: 0px;
  }
  19% {
    background-color: transparent;
  }
  20% {
    background-color: #7140bf;
    top: 0px;
    left: 0px;
  }
  40% {
    background-color: #eee83c;
    top: 100px;
    left: 400px;
  }
  80% {
    top: 100px;
    left: 400px;
  }
  100% {
    top: 100px;
    left: 150px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes triangle-transform {
  0% {
    border-bottom: transparent;
    top: 104px;
    right: 0px;
  }
  40% {
    border-bottom: #7140bf;
    top: 104px;
    right: 0px;
  }
  80% {
    top: 104px;
    right: 416px;
  }
  100% {
    top: 104px;
    right: 666px;
  }
}

@keyframes triangle-transform {
  0% {
    border-bottom: transparent;
    top: 104px;
    right: 0px;
  }
  40% {
    border-bottom: #7140bf;
    top: 104px;
    right: 0px;
  }
  80% {
    top: 104px;
    right: 416px;
  }
  100% {
    top: 104px;
    right: 666px;
  }
}

@-webkit-keyframes headline-reveal {
  0% {
    color: transparent;
  }
  80% {
    color: transparent;
  }
  100% {
    color: var(--hero-text);
  }
}

@keyframes headline-reveal {
  0% {
    color: transparent;
  }
  80% {
    color: transparent;
  }
  100% {
    color: var(--hero-text);
  }
}

@-webkit-keyframes tagline-reveal {
  0% {
    color: transparent;
  }
  80% {
    color: transparent;
  }
  100% {
    color: var(--text);
  }
}

@keyframes tagline-reveal {
  0% {
    color: transparent;
  }
  80% {
    color: transparent;
  }
  100% {
    color: var(--text);
  }
}

@-webkit-keyframes weare-reveal {
  0% {
    color: transparent;
  }
  65% {
    color: transparent;
  }
  75% {
    color: var(--text);
  }
  85% {
    color: var(--text);
  }
  100% {
    color: transparent;
  }
}

@keyframes weare-reveal {
  0% {
    color: transparent;
  }
  65% {
    color: transparent;
  }
  75% {
    color: var(--text);
  }
  85% {
    color: var(--text);
  }
  100% {
    color: transparent;
  }
}
