/* Boxes */
.content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  /* border: $std-element-border; */
}

.image {
  border-radius: 5px;
}

.full {
  width: 95%;
}

.half {
  width: 47%;
}

.third {
  width: 30%;
}

.two-thirds {
  width: 60%;
  padding-left: 50px;
  padding-right: 50px;
}

.quarter {
  width: 22%;
}

.left {
  text-align: left;
  align-items: flex-start;
}
.right {
  text-align: right;
  align-items: flex-end;
}

.image-only {
  padding: 0;
}

.btn {
  align-self: center;
  justify-content: space-between;
}

.over-image {
  position: absolute;
  bottom: 20%;
  z-index: 5;
  background-color: var(--button-background);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: var(--button-text);
}
