/* Imports */
/* @import url(typewriter.css);
@import url(hide-unhide.css); */
/* Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap");
/* SCSS Colour Variables for main palate */
/* Other Variables */
/* CSS Custom Properties for Light & Dark Themes*/
:root {
  /* Light Mode */
  --lm-bkg-main: #fcf7f8;
  --lm-bkg-secondary: #7140bf;
  --lm-text: #121212;
  --lm-shade: #8947c2;
  --lm-highlight-main-bkg: #7140bf;
  --lm-highlight-secondary-bkg: #eee83c;
  --lm-links: #7140bf;
  --lm-overlay-5: rgba(0, 0, 0, 0.05);
  --lm-animation-overlay: transparent;
  --lm-hero-text: #7140bf;
  /* Dark Mode */
  --dm-bkg-main: #121212;
  --dm-bkg-secondary: #7140bf;
  --dm-text: #fcf7f8;
  --dm-shade: #8947c2;
  --dm-highlight-main-bkg: #eee83c;
  --dm-highlight-secondary-bkg: #eee83c;
  --dm-links: #fcf7f8;
  --dm-overlay-5: rgba(255, 255, 255, 0.05);
  --dm-animation-overlay: rgba(255, 255, 255, 0.05);
  --dm-hero-text: #fcf7f8;
  /* Default Mode */
  --bkg-main: var(--lm-bkg-main);
  --bkg-secondary: var(--lm-bkg-secondary);
  --text: var(--lm-text);
  --shade: var(--lm-shade);
  --highlight-main-bkg: var(--lm-highlight-main-bkg);
  --highlight-secondary-bkg: var(--lm-highlight-secondary-bkg);
  --links: var(--lm-links);
  --overlay-5: var(--lm-overlay-5);
  --anim-overlay: var(--lm-animation-overlay);
  --hero-text: var(--lm-hero-text);
}

/* Switched mode */
:root.dark-theme {
  --bkg-main: var(--dm-bkg-main);
  --bkg-secondary: var(--dm-bkg-secondary);
  --text: var(--dm-text);
  --shade: var(--dm-shade);
  --highlight-main-bkg: var(--dm-highlight-main-bkg);
  --highlight-secondary-bkg: var(--dm-highlight-secondary-bkg);
  --links: var(--dm-links);
  --overlay-5: var(--dm-overlay-5);
  --anim-overlay: var(--dm-animation-overlay);
  --hero-text: var(--dm-hero-text);
}

/* Background Colours */
.main-bkg {
  background-color: var(--bkg-main);
}

.secondary-bkg {
  background-color: var(--bkg-secondary);
}

.shade-bkg {
  background-color: var(--shade);
}

.overlay-5 {
  background-color: var(--overlay-5);
}

.anim-overlay {
  background-color: var(--anim-overlay);
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}

/* Body sizing */
.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--text);
  background-color: var(--bkg-main);
}

.fa,
.fas {
  color: var(--highlight-main-bkg);
}

/* Header Bar */
header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 9;
}

.header-wrapper {
  width: 80vw;
  max-width: 1200px;
  min-width: 800px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 10;
}

/* Dark Mode Toggle Style */
.btn-toggle {
  background-color: var(--bkg-main);
  border: none;
  padding: 5px;
}

/* Main Menu */
.main-menu {
  text-align: right;
}

.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.main-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2vh 2vw;
  color: var(--links);
  text-decoration: none;
}

.main-menu a:hover {
  color: #fcf7f8;
  background-color: var(--shade);
}

/* Footer Bar */
footer {
  width: 80%;
  max-width: 1200px;
  min-width: 800px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Page Framework */
.content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 65vh;
  width: 100%;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  margin: 25px 0 25px 0;
  max-width: 1200px;
  min-width: 800px;
  min-height: 75%;
}

.header-offset {
  margin-top: 120px;
}

/* Boxes */
.content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  /* border: $std-element-border; */
  padding: 15px;
}

.full {
  width: 95%;
}

.half {
  width: 47%;
}

.third {
  width: 30%;
}

.quarter {
  width: 22%;
}

/* Feature animation */
.animation-wrapper {
  position: relative;
  height: 400px;
  width: 1000px;
}

.animated-text {
  position: absolute;
  top: 120px;
  left: 425px;
}

.square {
  position: absolute;
  background-color: #7140bf;
  width: 200px;
  height: 200px;
  -webkit-animation: square-transform 4s 1 forwards;
  animation: square-transform 4s 1 forwards;
}

.circle {
  position: absolute;
  background-color: #eee83c;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-animation: circle-transform 4s 1 forwards;
  animation: circle-transform 4s 1 forwards;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 84px solid transparent;
  border-right: 84px solid transparent;
  border-bottom: 143.3px solid #7140bf;
  -webkit-animation: triangle-transform 4s 1 forwards;
  animation: triangle-transform 4s 1 forwards;
}

.company-name {
  position: relative;
  font-family: "Russo One", sans-serif;
  font-size: 4.5rem;
  color: var(--hero-text);
  -webkit-animation: headline-reveal 5s 1 forwards;
  animation: headline-reveal 5s 1 forwards;
}

.we-are {
  position: relative;
  color: transparent;
  -webkit-animation: weare-reveal 6s 1 forwards;
  animation: weare-reveal 6s 1 forwards;
}

.tagline {
  position: relative;
  font-size: 1.5rem;
  -webkit-animation: tagline-reveal 6s 1 forwards;
  animation: tagline-reveal 6s 1 forwards;
}

/* Keyframes */
@-webkit-keyframes square-transform {
  0% {
    background-color: transparent;
    top: 0px;
    left: 0px;
  }
  30% {
    background-color: #7140bf;
    top: 100px;
    left: 150px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    top: 100px;
    left: 150px;
  }
  80% {
    top: 100px;
    left: 400px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    top: 100px;
    left: 150px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes square-transform {
  0% {
    background-color: transparent;
    top: 0px;
    left: 0px;
  }
  30% {
    background-color: #7140bf;
    top: 100px;
    left: 150px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    top: 100px;
    left: 150px;
  }
  80% {
    top: 100px;
    left: 400px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    top: 100px;
    left: 150px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes circle-transform {
  0% {
    background-color: transparent;
    top: 0px;
    left: 0px;
  }
  19% {
    background-color: transparent;
  }
  20% {
    background-color: #7140bf;
    top: 0px;
    left: 0px;
  }
  40% {
    background-color: #eee83c;
    top: 100px;
    left: 400px;
  }
  80% {
    top: 100px;
    left: 400px;
  }
  100% {
    top: 100px;
    left: 150px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes circle-transform {
  0% {
    background-color: transparent;
    top: 0px;
    left: 0px;
  }
  19% {
    background-color: transparent;
  }
  20% {
    background-color: #7140bf;
    top: 0px;
    left: 0px;
  }
  40% {
    background-color: #eee83c;
    top: 100px;
    left: 400px;
  }
  80% {
    top: 100px;
    left: 400px;
  }
  100% {
    top: 100px;
    left: 150px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes triangle-transform {
  0% {
    border-bottom: transparent;
    top: 104px;
    right: 0px;
  }
  40% {
    border-bottom: #7140bf;
    top: 104px;
    right: 0px;
  }
  80% {
    top: 104px;
    right: 416px;
  }
  100% {
    top: 104px;
    right: 666px;
  }
}

@keyframes triangle-transform {
  0% {
    border-bottom: transparent;
    top: 104px;
    right: 0px;
  }
  40% {
    border-bottom: #7140bf;
    top: 104px;
    right: 0px;
  }
  80% {
    top: 104px;
    right: 416px;
  }
  100% {
    top: 104px;
    right: 666px;
  }
}

@-webkit-keyframes headline-reveal {
  0% {
    color: transparent;
  }
  80% {
    color: transparent;
  }
  100% {
    color: var(--hero-text);
  }
}

@keyframes headline-reveal {
  0% {
    color: transparent;
  }
  80% {
    color: transparent;
  }
  100% {
    color: var(--hero-text);
  }
}

@-webkit-keyframes tagline-reveal {
  0% {
    color: transparent;
  }
  80% {
    color: transparent;
  }
  100% {
    color: var(--text);
  }
}

@keyframes tagline-reveal {
  0% {
    color: transparent;
  }
  80% {
    color: transparent;
  }
  100% {
    color: var(--text);
  }
}

@-webkit-keyframes weare-reveal {
  0% {
    color: transparent;
  }
  65% {
    color: transparent;
  }
  75% {
    color: var(--text);
  }
  85% {
    color: var(--text);
  }
  100% {
    color: transparent;
  }
}

@keyframes weare-reveal {
  0% {
    color: transparent;
  }
  65% {
    color: transparent;
  }
  75% {
    color: var(--text);
  }
  85% {
    color: var(--text);
  }
  100% {
    color: transparent;
  }
}
/*# sourceMappingURL=index.css.map */
