/* Header Bar */
header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 9;
  box-shadow: 0px 1px 2px rgba(128, 128, 128, 0.767);
}

.header-wrapper {
  width: 80vw;
  max-width: 1200px;
  min-width: 800px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 10;
}

/* Main Menu */
.main-menu {
  text-align: right;
}

.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.main-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2vh 2vw;
  color: var(--links);
  text-decoration: none;
}

.main-menu a:hover {
  color: #fcf7f8;
  background-color: var(--shade);
}

/* Imported Dark Button */
.darkmode {
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
}
.dark-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: -3px;
}
.dark-button:before,
.dark-button:after {
  box-sizing: border-box;
}
.dark-button label {
  position: relative;
  display: block;
  width: 45px;
  height: 25px;
  border-radius: 100px;
  background-color: #252525;
  overflow: hidden;
  cursor: pointer;
}
.dark-button label:before,
.dark-button label:after {
  display: block;
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: 0.5s ease;
}
.dark-button label:before {
  background-color: #eee83c;
}
.dark-button label:after {
  background-color: #252525;
  left: -58px;
  transform: scale(0.00001);
}
.dark-button input[type="checkbox"] {
  display: none;
}
.dark-button input[type="checkbox"]:checked + label:before {
  background-color: #7140bf;
  transform: translateX(20px);
}
.dark-button input[type="checkbox"]:checked + label:after {
  transform: translateX(75px) scale(1);
}
