.fa,
.fas {
  color: var(--highlight-main-bkg);
}

/* Header Bar */
header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 9;
}

.header-wrapper {
  width: 80vw;
  max-width: 1200px;
  min-width: 800px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 10;
}

/* Dark Mode Toggle Style */
.btn-toggle {
  background-color: var(--bkg-main);
  border: none;
  padding: 5px;
}

/* Main Menu */
.main-menu {
  text-align: right;
}

.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.main-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2vh 2vw;
  color: var(--links);
  text-decoration: none;
}

.main-menu a:hover {
  color: #fcf7f8;
  background-color: var(--shade);
}
